body {
    background-color: black;
    font-family: Arial, sans-serif;
}

h1 {
    color: #F6C62D;
}

label {
    color: #FFFFFF;
}

button {
    background-color: #F6C62D;
    color: black;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #D4A62A;
}
