body {
    font-family: 'Arial', sans-serif;
}

h1 {
    font-size: 2.5rem;
}

label {
    font-weight: bold;
    color: #007BFF; /* Cor dos rótulos dos filtros */
}

.dropdown {
    background-color: #ffffff; /* Fundo branco para dropdowns */
    border: 1px solid #007BFF; /* Borda azul */
}
