body {
    background-color: #151D52;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: #F6C62D;
    font-size: 2em;
}

.label {
    color: #FFFFFF;
}

.checkbox-label label {
    color: #F6C62D;
}

button {
    background-color: #F6C62D;
    color: #151D52;
    border: none;
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
}
